name: Run Telegram Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Run Bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          pip install pytelegrambotapi
          python -c "
import os
import telebot

bot = telebot.TeleBot(os.getenv('BOT_TOKEN'))

COMMANDS = {
    'about': 'https://t.me/finansmost/26',
    'begin': 'https://t.me/finansmost/31', 
    '2fa': 'https://t.me/finansmost/44',
    'verifikaciya': 'https://t.me/finansmost/41',
    'birga': 'https://t.me/finansmost/41',
    'p2p': 'https://t.me/finansmost/49',
    'portfel': 'https://t.me/finansmost/23',
    'moneti': 'https://t.me/finansmost/52',
    'strportfel': 'https://t.me/finansmost/55',
    'tools': 'https://t.me/finansmost/63'
}

@bot.message_handler(commands=list(COMMANDS.keys()))
def send_answer(message):
    command = message.text[1:]
    bot.send_message(message.chat.id, COMMANDS[command])

print('Бот запущен...')
bot.polling()
          "
